{% extends 'network/layout.html' %}
{% load static %}
{% block title %}
    {{profileuser.username|title}} | Network
{% endblock %}
{% block body %}
<div class="profile">
    <h4 class="details-name">{{profileuser.username|title}}</h4>
    <p><span class="btn-total-follow">{{posts}} Posts </span>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#followers">{{totalfollower}} Followers </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#following">{{totalfollowing}} Following </button>
    </p>
    {% if user.username != profileuser.username %}
        {% if not followingEachOther %}
        <form class="text-right" method="post" action="{% url 'profile' username=profileuser.username %}">
            {% csrf_token %}
            <button class="btn btn-primary save" type="submit" value="Follow">Follow</button>
        </form>
        {% elif followingEachOther %}
        <form class="text-right" method="post" action="{% url 'profile' username=profileuser.username %}">
            {% csrf_token %}
            <button class="btn btn-primary save" type="submit" value="Unfollow">Unfollow</button>
        </form>
        {% endif %}
    {% endif %}
</div>
  <div class="modal fade" id="followers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title details-name" id="exampleModalLongTitle">Total Followers: {{totalfollower}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        {% for follow in follower %}
        <p class="card-header"><a href="{% url 'profile' username=follow.follower %}">{{follow.follower|title}}</a></p>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="following" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title details-name" id="exampleModalLongTitle">Total Following: {{totalfollowing}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        {% for follow in following %}
        <p class="card-header"><a href="{% url 'profile' username=follow.target %}">{{follow.target|title}}</a></p>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% if user.username == profileuser.username %}
<button type="button" class="btn btn-modal-newpost secondary" data-toggle="modal" data-target="#create">Post
  {% else %}
      {{request.user.username|title}}?
  {% endif %}
</button>
  <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content new-post-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Create Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method=post action="{% url 'newpost' username=user.username %}">
                {% csrf_token %}
                <textarea rows="10" class="form-control" name="textarea"></textarea>
                <br>
                <div class="modal-footer">
                    <button class="btn btn-outline-dark save" type="submit" value="Create"><i class="fa fa-check-square-o"></i>Post</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
<div class="container">
    {% for post in page_obj %}
    <div class="card border-secondary mb-3">
        <h5 class="card-header"><a href="{% url 'profile' username=post.user %}">{{post.user|title}}</a></h5>
        <div class="card-body text-secondary">
            <h6 class="card-subtitle mb-2 text-muted">{{post.date}}</h6>
            <p class="card-text">{{post.content}}</p>
            {% if user.is_authenticated %}
                {% if request.user == post.user %}
                <button type="button" class="btn btn-primary edit" data-toggle="modal" data-target="#edit">Edit</button>
                <button type="button" class="btn btn-primary delete" data-toggle="modal" data-target="#delete">Delete</button>
                {% elif request.user in post.liked.all %}
                    <a class="likebutton" href="#" data-catid="{{ post.id }}" id="{{post.id}}" data-total="{{post.liked.all.count}}"  data-value="Unlike" value="submit">Unlike<span id="liked{{post.id}}">{{post.liked.all.count}}</span></a>
                    {% else %}
                    <a class="likebutton" href="#" data-catid="{{ post.id }}" id="{{post.id}}" data-total="{{post.liked.all.count}}"  data-value="Like" value="submit">Like</a><span id="liked{{post.id}}">{{post.liked.all.count}}</span></a>
                {% endif %}
            {% else %}
                <p>Likes: {{post.liked.all.count}}</p>
            {% endif %}
        </div>
    </div>
  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog" role="document">
      <div class="modal-content new-post-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure?</p>
            <div class="modal-footer">
                <form method=post action="{% url 'delete' post_id=post.id %}">
                    {% csrf_token %}
                  <button class="btn btn-outline-danger save" type="submit" value="Delete"> Delete</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content new-post-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method=post action="{% url 'edit' post_id=post.id %}">
              {% csrf_token %}
              <textarea rows="10" class="form-control" name="textarea">{{post.content}}</textarea>
              <br>
              <div class="modal-footer">
                  <button class="btn btn-outline-dark save" type="submit" value="Save"><i class="fa fa-check-square-o"></i>Edit</button>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
    {% endfor %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script>
        $('.likebutton').click(function(){
            var catid;
            var total;
            var value;
            catid = $(this).data("catid");
            $.ajax(
            {
                type:"GET",
                url: "/likepost",
                data:{
                        post_id: catid
                },
                success: function( data ) 
                {
                    total = $('#'+ catid).attr("data-total")
                    if ($('#'+catid).attr("data-value") == 'Like'){
                        $( '#liked'+catid ).text((parseInt(total) + 1));
                        $( '#heart'+catid ).css('color', 'red')
                        $('#'+catid).attr("data-total", parseInt(total) + 1)
                        $('#'+catid).attr("data-value", 'Unlike')
                    }
                    else{
                        $( '#liked'+catid ).text((parseInt(total) - 1));
                        $( '#heart'+catid ).css('color', 'black')
                        $('#'+catid).attr("data-total", parseInt(total) - 1)
                        $('#'+catid).attr("data-value", 'Like')
                    }
                }
            })  
        })
        $(function() {
            $( 'a[href$="#"]' ).each(function() {
                $( this ).attr( 'href','javascript:void(0);' )
            });
        });
    </script> 
</div>
{% endblock %}